[submodule "vendor/sockpp"]
	path = vendor/sockpp
	url = https://github.com/fpagliughi/sockpp
[submodule "vendor/zydis-bridge"]
	path = vendor/zydis-bridge
	url = https://github.com/bibles-org/zydis-bridge
